{% extends 'base.html' %} <!--herencia de base.html-->
{% block title %}{{ receta.titulo }} | Recetas Chilenas{% endblock %} <!--en pestaña se muestra nombre de la receta | recetas chilenas-->

{% block content %} <!--comienzo de contenido-->
<div class="container mt-4">
    <div class= "receta-titulo">
        <h1>{{ receta.nombre }}</h1> <!--muestra titulo de la receta-->
    </div>

    {% if receta.imagen %} <!--verifica si la receta tiene una imagen subida-->
    <img src="{{ receta.imagen.url }}" class="img-fluid d-block mx-auto mb-4 rounded" alt="{{ receta.titulo }}"> <!--si existe, la muestra centrada y con bordes redondeados-->
    {% endif %}

    <div class= "ingredientes"> <!--seccion para mostrar ingredientes-->
        <h3>Ingredientes:</h3>
        <p style="white-space: pre-line;">{{ receta.ingredientes }}</p></div> <!--saltos de linea-->
          

    <div class= "preparacion"> <!--seccion para mostrar preparacion-->
        <h3>Preparación:</h3>
        <p style="white-space: pre-line;">{{ receta.instrucciones }}</p></div> <!--saltos de linea-->

    <a href="{% url 'index' %}" class="btn btn-secondary mt-2">Volver</a> <!--boton que vuelve a index pagina principal-->
</div>
{% endblock %} <!--termino de contenido-->
