
* {
    box-sizing: border-box;  
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}


header {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

header p {
    margin-top: 8px;
    font-size: 16px;
}


.contenedor {
    width: 100%;
}

.material {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 2px 10px #999797;
    transition: transform .2s;
}

.material:hover {
    transform: scale(1.03);
}

.material img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}


.form-section {
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px #999797;
    margin-top: 20px;       
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button.btn {
    background-color: #2ecc71;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    transition: background .2s;
}

button.btn:hover {
    background-color: #27ae60;
}


.layout {
    width: 95%;
    margin: 40px auto;     
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#piePagina {
    text-align: center;
    padding: 20px;
    background: #2ecc71;
    color: white;
    margin-top: 30px;
}



@media (min-width: 900px) {

    .layout {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1200px;
    }

    .contenedor,
    .form-section {
        width: 48%;              
        margin-top: 50px;        
    }
}


