{% extends 'base.html' %}

{% block title %}Lista de Eventos{% endblock %}

{% block content %}
<h2 class="mb-4">Eventos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in object_list %} <!--objetos del modelo Evento-->
        <tr>
            <td>{{ evento.nombre }}</td> <!-- nombre de Evento-->
            <td>{{ evento.fecha }}</td> <!-- fecha de de Evento-->
            <td>{{ evento.descripcion }}</td> <!-- descripción de Evento-->
            <td>
                {% if perms.gestion_usuarios.editar_evento %} <!--solo se muestra el Editar si el usuario tiene permiso-->
                    <a class="btn btn-sm btn-primary" href="{% url 'editar_evento' evento.pk %}">Editar</a>
                {% endif %}
                {% if perms.gestion_usuarios.eliminar_evento %}
                    <a class="btn btn-sm btn-danger" href="{% url 'eliminar_evento' evento.pk %}">Eliminar</a> <!--solo se muestra el Eliminar si el usuario tiene permiso-->
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">No hay eventos disponibles</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
