body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0;
}

.navbar {
    background: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.cerrar-sesion {
    background: #0cbaf1;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor {
    display: flex;
    gap: 25px;
    width: 80%;
    margin: 30px auto;
}

.col-izquierda {
    flex: 3;
}

.col-derecha {
    flex: 1.2;
}


.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.perfil .portada {
    background: #00afd7;
    height: 120px;
    border-radius: 10px;
}


.perfil .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -60px; 
}

.contenido-perfil p {
    color: #555;
    margin: 5px 0;
}

.edit {
    color: #0cbaf1;
    text-decoration: none;
    font-size: 14px;
}

