body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #243447;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

h2 {
    margin-left: auto;
}

.container {
    width: 90%;
    margin: auto;
}


.flex {
    display: block;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 30%; 
}

input, button {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    
}

#contadorLibros {

    font-weight: bold;
    margin: 10px 0;
    display: none
}

#mensajeRegistro {
    color: red; 
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
