{% extends 'base.html' %}

{% block title %}Registrar Evento{% endblock %}
{% block header %}Formulario de Registo{% endblock %}

{% block content %}
<form method="POST" novalidate>
    {% csrf_token %}
    <h4>Datos del Evento</h4>
    {{ form_evento.as_p }}

    <hr>
    <h4>Datos de Participante</h4>
    {{ form_participante.as_p }}

    <button type="submit" class="btn btn-primary mt-3">Registrar</button>
</form>

{% if messages %}
    <div class="mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
