section {
    margin: 10px;
    padding: 10px;
}

header {
    margin-bottom: 40px;
}

#reserva form div {
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

footer{
    margin: 10px;
    padding: 10px;
}