body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0;
}

.navbar {
    background: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.cerrar-sesion {
    background: #0cbaf1;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cerrar-sesion.prendido {
    background: #f17455;
    box-shadow: 0 0 10px #86371f;
}

.contenedor {
    display: flex;
    gap: 25px;
    width: 80%;
    margin: 30px auto;
}

.col-izquierda {
    flex: 3;
}

.col-derecha {
    flex: 1.2;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.perfil .portada {
    background: #00afd7;
    height: 120px;
    border-radius: 10px 10px 0 0;
}

.perfil .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -60px;
}

.contenido-perfil p {
    color: #555;
    margin: 5px 0;
}

.contenido-perfil h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #222;
}

.edit {
    color: #0cbaf1;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.bio {
    line-height: 1.4;
    margin-bottom: 15px !important;
}

.solicitud, .conexion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

}

.solicitud-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.solicitud > span:nth-child(2),
.conexion span {
    flex-grow: 1;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}


.check-icon {
    color: #29c72c;
    font-size: 28px;
    cursor: pointer;
}

.reject-icon {
    color: #ff3b3b;
    font-size: 28px;
    cursor: pointer;
}

